<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>0</integer>
		<key>name</key>
		<string>red_che1</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rche.png</string>
		<key>job</key>
		<integer>0</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>0</integer>
			<key>game_y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>red_ma1</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rma.png</string>
		<key>job</key>
		<integer>1</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>1</integer>
			<key>game_y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>red_xiang1</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rxiang.png</string>
		<key>job</key>
		<integer>4</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>2</integer>
			<key>game_y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>red_shi1</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rshi.png</string>
		<key>job</key>
		<integer>5</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>3</integer>
			<key>game_y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>4</integer>
		<key>name</key>
		<string>red_shuai</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rshuai.png</string>
		<key>job</key>
		<integer>6</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>4</integer>
			<key>game_y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>5</integer>
		<key>name</key>
		<string>red_shi2</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rshi.png</string>
		<key>job</key>
		<integer>5</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>5</integer>
			<key>game_y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>6</integer>
		<key>name</key>
		<string>red_xiang2</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rxiang.png</string>
		<key>job</key>
		<integer>4</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>6</integer>
			<key>game_y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>7</integer>
		<key>name</key>
		<string>red_ma2</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rma.png</string>
		<key>job</key>
		<integer>1</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>7</integer>
			<key>game_y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>8</integer>
		<key>name</key>
		<string>red_che2</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rche.png</string>
		<key>job</key>
		<integer>0</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>8</integer>
			<key>game_y</key>
			<integer>0</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>9</integer>
		<key>name</key>
		<string>red_pao1</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rpao.png</string>
		<key>job</key>
		<integer>2</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>1</integer>
			<key>game_y</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>10</integer>
		<key>name</key>
		<string>red_pao2</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rpao.png</string>
		<key>job</key>
		<integer>2</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>7</integer>
			<key>game_y</key>
			<integer>2</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>11</integer>
		<key>name</key>
		<string>red_bing1</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rbing.png</string>
		<key>job</key>
		<integer>3</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>0</integer>
			<key>game_y</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>12</integer>
		<key>name</key>
		<string>red_bing2</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rbing.png</string>
		<key>job</key>
		<integer>3</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>2</integer>
			<key>game_y</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>13</integer>
		<key>name</key>
		<string>red_bing3</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rbing.png</string>
		<key>job</key>
		<integer>3</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>4</integer>
			<key>game_y</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>14</integer>
		<key>name</key>
		<string>red_bing4</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rbing.png</string>
		<key>job</key>
		<integer>3</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>6</integer>
			<key>game_y</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>15</integer>
		<key>name</key>
		<string>red_bing5</string>
		<key>is_red_player</key>
		<true/>
		<key>file_src</key>
		<string>rbing.png</string>
		<key>job</key>
		<integer>3</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>8</integer>
			<key>game_y</key>
			<integer>3</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>16</integer>
		<key>name</key>
		<string>black_zu1</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bzu.png</string>
		<key>job</key>
		<integer>3</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>0</integer>
			<key>game_y</key>
			<integer>6</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>17</integer>
		<key>name</key>
		<string>black_zu2</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bzu.png</string>
		<key>job</key>
		<integer>3</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>2</integer>
			<key>game_y</key>
			<integer>6</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>18</integer>
		<key>name</key>
		<string>black_zu3</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bzu.png</string>
		<key>job</key>
		<integer>3</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>4</integer>
			<key>game_y</key>
			<integer>6</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>19</integer>
		<key>name</key>
		<string>black_zu4</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bzu.png</string>
		<key>job</key>
		<integer>3</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>6</integer>
			<key>game_y</key>
			<integer>6</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>20</integer>
		<key>name</key>
		<string>black_zu5</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bzu.png</string>
		<key>job</key>
		<integer>3</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>8</integer>
			<key>game_y</key>
			<integer>6</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>21</integer>
		<key>name</key>
		<string>black_pao1</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bpao.png</string>
		<key>job</key>
		<integer>2</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>1</integer>
			<key>game_y</key>
			<integer>7</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>22</integer>
		<key>name</key>
		<string>black_pao2</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bpao.png</string>
		<key>job</key>
		<integer>2</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>7</integer>
			<key>game_y</key>
			<integer>7</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>23</integer>
		<key>name</key>
		<string>black_che1</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bche.png</string>
		<key>job</key>
		<integer>0</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>0</integer>
			<key>game_y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>24</integer>
		<key>name</key>
		<string>black_ma1</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bma.png</string>
		<key>job</key>
		<integer>1</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>1</integer>
			<key>game_y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>25</integer>
		<key>name</key>
		<string>black_xiang1</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bxiang.png</string>
		<key>job</key>
		<integer>4</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>2</integer>
			<key>game_y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>26</integer>
		<key>name</key>
		<string>black_shi1</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bshi.png</string>
		<key>job</key>
		<integer>5</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>3</integer>
			<key>game_y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>27</integer>
		<key>name</key>
		<string>black_jiang</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bjiang.png</string>
		<key>job</key>
		<integer>6</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>4</integer>
			<key>game_y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>28</integer>
		<key>name</key>
		<string>black_shi2</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bshi.png</string>
		<key>job</key>
		<integer>5</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>5</integer>
			<key>game_y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>29</integer>
		<key>name</key>
		<string>black_xiang2</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bxiang.png</string>
		<key>job</key>
		<integer>4</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>6</integer>
			<key>game_y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>30</integer>
		<key>name</key>
		<string>black_ma2</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bma.png</string>
		<key>job</key>
		<integer>1</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>7</integer>
			<key>game_y</key>
			<integer>9</integer>
		</dict>
	</dict>
	<dict>
		<key>id</key>
		<integer>31</integer>
		<key>name</key>
		<string>black_che2</string>
		<key>is_red_player</key>
		<false/>
		<key>file_src</key>
		<string>bche.png</string>
		<key>job</key>
		<integer>0</integer>
		<key>first_game_location</key>
		<dict>
			<key>game_x</key>
			<integer>8</integer>
			<key>game_y</key>
			<integer>9</integer>
		</dict>
	</dict>
</array>
</plist>
